.logo{
    width: 134px;
    height: 40px;
    background: url("../img/Logo.png");
    display: block;
    margin-left: 3vw;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    background: #121220;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p a {
    text-decoration: none;
}
a{
    text-decoration: none;
}
ol{
    text-decoration: none;
}
.logo-all{
    float: left;
}
.superior{
    position: absolute;
    width: 83%;
    padding-top: 40px;
    padding-bottom: 20px;
    z-index: 3;
    background: #121220;
}
.menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    float: right;
    margin-right: 280px;
}
.menu-li{
    float: left;
    margin: 0 50px;
    color: #1F1F1F
    
}
.menu ul{
    position: absolute;
    background: #223b86;
    border-radius: 5px;
    padding: 10px;
    visibility: hidden;
   
}
.dropdown-itens{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 6px;
    margin-left: 2px;    
}   
.dropdown-itens:hover{
    background: rgb(39, 31, 145);
}
.dropdown-menu__link{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.dropdown-images{
    margin-right: 5px;
}
.dropdown-main-image{
    margin-top: -10px;
}
.menu li:hover ul{
    visibility: visible;
}   
.menu-li2{
    float: left;
    margin: 0 50px;
    color: #1F1F1F;    
}    
.menu__link{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.bt_signin{
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: rgb(11, 11, 14);
    padding: 7px 20px;
    border-radius: 3.5px;
    margin-left: 30px;
}
.bt_signup{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
    border-radius: 3.5px;
    background: #00E9C4;
}
.menu ul{
    position: absolute;
    
}
.menu ul:hover{
    
}

.clear{
    clear: both;
}
.center{
    width: 100%;
    margin: 0 auto;
    margin-left: 242px;
}
.rodape{
    background: #341e49;
    line-height: 35px;
    margin-top: 1400px;
    width: 100%;
    bottom: 0;
}
.rodape-text{
    margin-left: 90px;
    color: #bbbbbb;
}
.rodape-title{
    margin-top: 0px;
    margin-left: 90px;
    font-weight: 500;
    font-size: 18px;
    color: #a3aa92;
}
.copyright{
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    background: #121220;
}
.copyright > p{
    color: #cacaca
}
.logo{
    width: 134px;
    height: 40px;
    background: url("../img/Logo.png");
    display: block;
    margin-left: 3vw;
}
#chart{
    background: #151423;
    border: solid 1px #26243F;
    box-shadow: 1px 1px 10px #26243F;
    border-radius: 28px;
    padding-bottom: 10px;
    margin-top: 21px;
    justify-content: center;
}
.butao{
    padding-right: 30px;
    margin-top: 35px;
}

.butao:hover{
    background: #24243f;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    
}
.butao-atual{
    padding-right: 30px;
    margin-top: 35px;
    background: #3c3c68be;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
}
.menu-lado{
    position: absolute;
    left: 0;
    background: #151423;
    border-end-end-radius: 30px;
    border-start-end-radius: 30px;
    box-shadow: 1px 1px 10px #26243F;
    margin-top: 115px;
    padding-top: 2%;
    padding-bottom: 4%;
}
.box-cima{
    display: flex;
    position: absolute;
    margin-top: 115px;
    flex-direction: column;
    background: #151423;
    box-shadow: 5px 5px 10px #26243F;
    padding: 20px;
    padding-right: 17%;
    border-radius: 10px;
}
.titulo{
    font-size: 37.5px;
    font-weight: bold;
    color: white;
}
.box-cima-desc{
    font-size: 15.5px;
    color: #BDDAFF;
    margin-top: 20px;
}
.linha-input{
    display: flex;
    margin-top: 240px;
}
.combo-box-title{
    color: white;
}
select:invalid{
    color: gray;
}
.quantidade{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px #341e49;
   
}
.box-quantidade-title{
    font-size: 16px;
    color: white;
    margin-left: 317px;
    margin-right: 10px;
    max-width: 23vw;
}
.box-quantidade{
    width: 40px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background: #292840;
}
.box-hashrate{
    position: absolute;
    background: #151423;
    padding: 32px;
    padding-right: 90px;
    border-radius: 23px;
}
.box-potencia{
    position: absolute;
    background: #151423;
    padding: 32px;
    padding-right: 90px;
    border-radius: 23px;
}
.box-energia{
    background: #151423;
    padding: 32px;
    padding-right: 90px;
    border-radius: 23px;
}
.box-preco{
    position: absolute;
    background: #151423;
    padding: 32px;
    padding-right: 50px;
    border-radius: 23px;
}
.boxs{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 13px;
    justify-content: space-evenly;
}
.box-itens  {
    margin: 10px;
    margin-left: 50px;
    padding: 30px;
    padding-right: 90px;
    padding-bottom: 20px;
    padding-top: 25px;
    background: #151423;
    border-radius: 23px;
}
.box-itens2{
    margin: 10px;
    margin-left: 43px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 85px;
    padding-bottom: 20px;
    padding-top: 25px;
    background: #151423;
    border-radius: 23px;
}
.box-itens3{
    margin: 10px;
    margin-left: 43px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 85px;
    padding-bottom: 20px;
    padding-top: 25px;
    background: #151423;
    border-radius: 23px;
}
.box-itens4{
    margin: 10px;
    margin-left: 50px;
    padding: 30px;
    padding-right: 56px;
    padding-bottom: 20px;
    padding-top: 25px;
    background: #151423;
    border-radius: 23px;
}
.break{
    flex-basis: 100%;
    height: 0;
}
.box-hashrate-title{
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    line-height: 24px;
}
.box-hashrate-input{
    color: #fff;
    background: #1a1930;
    font-size: 20px;
    margin-top: 30px;
    width: 90px;
    border: 1px;
    height: 30px;
}
.mhs{
    display: flex;
    flex-direction: row;;
}
.inputs{
}
.input-group-addon{
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
    background: #1D1923;
    padding: 13px 23px 13px 23px;
    border-radius: 10px;
}
.input-group-addon-esquerda{
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    background: #1D1923;
    padding: 13px 23px 13px 23px;
    border-radius: 10px;
}
.input-button{
    font-size: 19px;
    color: white;
    background: #374D90;
    border: 1px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 60px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 36px;
    margin-top: 15px;
    transition: all 0.25s ease;
}
.input-button:hover{
    font-size: 20px;

}
.img-button{
    position: absolute;
    margin-top: 4px;
    padding-left: 110px;
}
.img-button2{
    position: absolute;
    margin-top: 6px;
    padding-left: 170px;
}
.menu-esquerdo{
    position: absolute;
    left: 0;
    margin-left: 160px;
}
.menu-direito{
    position: absolute;
    right: 0;
    margin-top: 115px;
    background: #0d0c225b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 40px;
    padding-top: 20px;
    max-width: 540px;
}
.menu-general-title{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}
.details-button{
    font-size: 19px;
    color: white;
    background: #151423;
    border: 1px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid #26243F;
    margin-left: 130px;
}
.linha-1{
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    align-items: center;
    margin-bottom: 7px;
}
.box-itens-rigth1{
    margin: 10px;
    margin-left: 0px;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 25px;
    background: #7A40F2;
    border-radius: 22px;
}
.box-itens-rigth2{
    margin: 10px;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 25px;
    background: #00A4FA;
    border-radius: 22px;
}
.box-itens-rigth3{
    margin: 10px;
    margin-right: 16px;
    margin-left: 0px;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 25px;
    padding-right: 23px;
    background: #5C2D6C;
    border-radius: 22px;
}
.box-itens-rigth4{
    margin-bottom: 100px;
    margin-top: 20px;
    padding: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 17px;
    background: #50887b;
    border-radius: 22px;
}
.box-hashrate-title-rigth{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    margin-top: 16px;
}
.box-hashrate-title-rigth4{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}
.img-position-box-rigth{
    margin-right: 17px;
}
.input-group-addon-box-rigth{
    color: #fff;
    font-size: 16px;
    background: #261d3575;
    padding: 13px 23px 13px 23px;
    border-radius: 10px;
}
.linha-box-rigth{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.boxes-rigth{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.menu-indicators-title{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}
.linha-2{
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    margin-top: 15px;
    align-items: center;
}
.box-indicators{
    display: flex;
    flex-direction: row;
    background: #151423;
    border-radius: 28px;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 51px;
    padding-top: 35px;
    padding-bottom: 35px;
    border: solid 1px #26243F;
    box-shadow: 1px 1px 10px #26243F;
}
.box-indicators-title{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0.14px;
    margin-bottom: 25px;
}
.box-indicators-porc{
    color: #8A88B7;
    text-align: center;
    font-size: 19px;
}
.box-indicators1{
    width: 30%;
}
.menu-graph-title{
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}
.graph-align{
    display: flex;
    justify-content: flex-start;
    margin-right: 40px;
}
.devices{
    position: relative;
    margin-top: 25px;
}
.devices h2{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.15px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.devices > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #0d0c225b;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 260px;
    width: 826.09px;
}
.devices_styles{
    width: 10.2%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    margin: 10px 25px 10px 25px;
    
}
.devices_styles:first-child{
    margin-left: 40px;
}
.devices_styles:nth-child(7){
    margin-left: 40px;
}
.qtnd{
    display: flex;
    align-items: flex-start;
}
.nome_GPU{
    font-weight: 600;
}
.img-excluir{
    position: static;
}
.img-excluir:hover{
    width: 17px;
    height: 17px;
}
/**}
@media screen and (max-width: 900px){
    .box-potencia{
        margin-left: 520px;
    }
}
@media screen and (max-width: 830px){
    .box-cima{
        padding-right: 30px;
    }
    .box-potencia{
        padding-right: 30px;
        margin-left: 470px;
    }
    .box-hashrate{
        padding-right: 30px;
    }
    .box-energia{
        padding-right: 40px;
    }
}