.logo{
    width: 134px;
    height: 40px;
    background: url("../img/Logo.png");
    display: block;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p a {
    text-decoration: none;
}
a{
    text-decoration: none;
}
ol{
    text-decoration: none;
}
.logo-all{
    float: left;

}
.superior{
    padding-top: 40px;
}
.menu{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-right: 40px;
    margin-top: 10px;
}
.menu-li{
    float: left;
    margin: 0 50px;
    color: #1F1F1F
    
}   
.menu__link{
    text-decoration: none;
    font-size: 16px;
    color: #1F1F1F;
}
.bt_signin{
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: rgb(11, 11, 14);
    padding: 7px 20px;
    border-radius: 3.5px;
    margin-left: 30px;
}
.bt_signup{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
    border-radius: 3.5px;
    background: #00E9C4;
}
.clear{
    clear: both;
}
.center{
    width: 1100px;
    margin: 0 auto;
}
.apresentacao{
    background: url(../img/background.png) no-repeat center 0;
    padding-top: 35px;
}
.apresentacao-box{
    
}
.title-apresentacao{
    font-size: 60px;
    color: #303030;
    font-weight: 800;
    line-height: 70px;
}
.sub-titulo{
    font-size: 20px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    line-height: 32px;
    padding-left: 5px;
}
.title-apresentacao2{
    font-size: 50px;
    color: #303030;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 220px;
}
.sub-titulo2{
    font-size: 22.5px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    line-height: 32px;
    margin-left: 250px;
    line-height: 30px;
}
.bt-position{
    padding-top: 30px;
    align-content: center;
    padding-left: 90px;
}
.uni-bt{
    float: left;
    border: 0.2px solid #5C0EBF;
    border-radius: 28px;
    padding: 20px 60px;
    cursor: pointer;
}
.uni-bt:hover{
    background: #5C0EBF;
    color: white;
}
.uni-bt-baixo{
    border: 0.2px solid #44466F;
    border-radius: 35px;
    padding: 17px 45px;
    cursor: pointer;
}
.uni-bt-baixo:hover{
    background: #44466F;
    color: white;
}
.bt-baixo-position{
    padding-top: 50px;
    padding-left: 510px;
}
.bt-text{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: black;
}
.text-bt{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #092B4C;
    font-size: 38px;
}
.icon{
    float: right;
}
.apresentacao-homem{
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}
.texto-botoes{
    padding: 200px;
    padding-top: 170px;
    margin-right: 30px;
    
}
.text-decoration{
    text-decoration: none;
    color: #2b2b2b;
}
.text-decoration:hover{
    color: white;
}
.image1 {
    float: right;
    padding-top: 120px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .image2 {
    position: absolute;
    top: 510px;
    left: 770px;
    z-index: 1;
  }
.box-icon{
    width: 85px;
    height: 85px;
    border-radius: 8px;
    text-align: center;
    margin-left: 26.5%;
}
.box-icon img{
    margin-top: 10px;
    align-content: center;

}
.box-icone-title{
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}
.box-icone-text{
    font-size: 17px;
    color: #313131;
    line-height: 140%;
    text-align: center;
}
.icon-wrapping{
    width: 15%;
    float: left;
    padding-left: 85px;
    padding-bottom: 20px;
}
.icons{
    margin-top: 60px;
    margin-left: 160px;
    padding-right: 70px;
}
.box-icon-color{
    background: #303030;
}
.box-icon-color2{
    background: #564c5c;
}
.eth_ico{
    float: right;
    padding-right: 335px;
    margin-top: 22px;
}
.texto2{
    padding-left: 80px;
    padding-top: 10px;
}
.bt-position-baixo{
    margin: 30px;
    padding-right: 30px;
}
.rodape{
    background: #341e49;
    line-height: 35px;
    margin-top: 80px;
}
.rodape-text{
    margin-left: 90px;
    color: #bbbbbb;
}
.rodape-title{
    margin-top: 15px;
    margin-left: 90px;
    font-weight: 500;
    font-size: 18px;
    color: #a3aa92;
}
.copyright{
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    
}