.logo{
    width: 134px;
    height: 40px;
    background: url("../img/Logo.png");
    display: block;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 12vh 20vh 20vh 20vh;

    gap: 1vw;
}
header{
    background: rgb(44, 146, 34);
    grid-column: 1/3;
}
.home-text{
    background: chocolate;
    grid-column: 1/2;
}
.btc-imagem{
    background: crimson;
    grid-column: 2/3;
}
.icons{
    background: cyan;
    grid-column: 1/3;
}
.possibilities-text{
    background: darkkhaki;
    grid-column: 1/3;
}
footer{
    background: rgb(0, 0, 255);
    grid-column: 1/3;
}
