.logo{
    width: 134px;
    height: 40px;
    background: url("../img/Logo.png");
    display: block;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p a {
    text-decoration: none;
}
a{
    text-decoration: none;
}
ol{
    text-decoration: none;
}
.logo-all{
    float: left;

}
.superior{
    padding-top: 40px;
}
.menu{
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-right: 40px;
    margin-top: 10px;
}
.menu-li{
    float: left;
    margin: 0 50px;
    color: #1F1F1F
    
}   
.menu__link{
    text-decoration: none;
    font-size: 16px;
    color: #1F1F1F;
}
.bt_signin{
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: rgb(11, 11, 14);
    padding: 7px 20px;
    border-radius: 3.5px;
    margin-left: 30px;
}
.bt_signup{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 7px 20px;
    border-radius: 3.5px;
    background: #00E9C4;
}
.clear{
    clear: both;
}
.center{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.apresentacao{
    background: url(../img/background.png) no-repeat center 0;
    padding-top: 35px;
}
.apresentacao-box{
    
}
.title-apresentacao{
    font-size: 58px;
    color: #303030;
    font-weight: 800;
    line-height: 70px;
}
.sub-titulo{
    font-size: 20px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
    line-height: 32px;
    padding-left: 5px;
}
.title-apresentacao2{
    font-size: 50px;
    color: #303030;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 13%;
}
.sub-titulo2{
    font-size: 22.5px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-right: 20%;
    margin-left: 17%;
    padding-top: 19px;
    line-height: 35px;
}
.bt-position{
    padding-top: 30px;
    align-content: center;
}
.uni-bt{
    float: left;
    border: 0.2px solid #5C0EBF;
    border-radius: 28px;
    padding: 20px 60px;
    cursor: pointer;
}
.uni-bt:hover{
    background: #5C0EBF;
    color: white;
}
.uni-bt-baixo{
    border: 0.2px solid #44466F;
    border-radius: 35px;
    padding: 17px 45px;
    cursor: pointer;
}
.uni-bt-baixo:hover{
    background: #44466F;
    color: white;
}
.bt-baixo-position{
    padding-top: 50px;
    margin-left: 35%;
}
.bt-text-baixo{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: black;
}
.bt-text{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: black;
}
.text-bt{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #092B4C;
    font-size: 38px;
}
.icon{
    float: right;
}
.lucro-box{
    float: left;
    border-radius: 8px;
    padding: 20px 20px;
    background: #F1F1F1;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.26);
    
}
.lucro-box-text{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #434343;
    margin-left: 13px;
}
.icon-profit-box{
    float: left;
        
}
.money-lucro-box-text{
    text-align: center;
    padding-bottom: 15px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #39BA70;
    padding-top: 15px;
    margin-left: 80px;
    border-radius: 6px;
    background: #39ba712a;
    
}
.apresentacao-homem{
    float: right;
    padding-top: 20px;
    padding-right: 20px;

}
.texto-botoes{
    padding: 100px;
    padding-bottom: 200px;
    padding-top: 170px;
    margin-right: 20px;
    
}
.text-decoration{
    text-decoration: none;
    color: #2b2b2b;
}
.text-decoration:hover{
    color: white;
}
.image1 {
    float: right;
    padding-top: 120px;
    z-index: 0;
    clear: both;
  }
  .image2 {
    position: absolute;
    top: 510px;
    left: 770px;
    z-index: 1;
    clear: both;
  }
.box-icon{
    width: 85px;
    height: 85px;
    border-radius: 8px;
    text-align: center;
    margin-left: 26.5%;
}
.box-icon img{
    margin-top: 10px;
    align-content: center;

}
.box-icone-title{
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}
.box-icone-text{
    font-size: 17px;
    color: #313131;
    line-height: 140%;
    text-align: center;
}
.icon-wrapping{
    width: 15%;
    float: left;
    margin-left: 85px;
    margin-bottom: 20px;
}
.icons{
    margin-top: 65px;
    margin-left: 12%;
}
.box-icon-color{
    background: #303030;
}
.box-icon-color2{
    background: #564c5c;
}
.eth_ico{
    float: right;
    margin-top: 22px;
    width: 30%;
}
.texto{
    margin-left: 11%;
    margin-right: 10%;  
}
.texto2{
    padding-left: 80px;
    padding-top: 10px;
}
.img-right{
    display: block;
    justify-content: flex-end;
}
.bt-position-baixo{
    
}
.rodape{
    background: #341e49;
    line-height: 35px;
    margin-top: 80px;
}
.rodape-text{
    margin-left: 90px;
    color: #bbbbbb;
}
.rodape-title{
    margin-top: 15px;
    margin-left: 90px;
    font-weight: 500;
    font-size: 18px;
    color: #a3aa92;
}
.copyright{
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    
}
@media screen and (min-width: 1838px){
    .image2{
        margin-left: 14%;
    }
   .texto{
       margin-left: 22%;
   }
}
@media screen and (min-width: 1739px){
    .eth_ico{
        display: none;
    }
    .bt-baixo-position{
        margin-left: 38%;
    }

}
@media screen and (min-width: 1725px){
    .texto{
        margin-left: 16%;
    }
    .image2{
        margin-left: 10%;
    }
    .title-apresentacao2{
        padding-left: 17%;
    }
    .sub-titulo2{
        margin-left: 10%;
    }
    .icons{
        margin-left: 13%;
    
    }
}
@media screen and (min-width: 1578px){
    .image2{
        margin-left: 6%;
    }
   
}
@media screen and (max-width: 1518px){
    .eth_ico{
        display: none;
    }
    .texto{
        margin-left: 9%;
    }
}
@media screen and (max-width: 1445px){
    .lucro-box{
        display: none;
    }
    .icons{
        margin-left: 6%;
    }
    .image1{
        width: 40%;
        display: inline-block;
    }
}
@media screen and (max-width: 1343px){
    .texto-botoes{
        padding: 7px;
        padding-bottom: 170px;
        padding-top: 150px;
        margin-right: 20px;
        
    }
    .title-apresentacao2{
        padding-left: 12.5%;
        
    }
}
@media screen and (max-width: 1210px){
    .texto2{
        padding-left: 30px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 1110px){
    .icon-wrapping{
        width: 35%;
        float: left;
        margin-left: 10%;
        margin-bottom: 50px;
    }
    .icons{
        margin-top: 0;
    }
    .box-icon{
        margin-left: 35%;
    }
    .texto2{
        justify-content: center;
    }
    .title-apresentacao2{
        padding-top: 0;
    }
    
}
@media screen and (max-width: 983px){
    .texto{
        text-align: center;
        padding-left: 40px;
        justify-content: center;
    }
    .uni-bt{
        float: none;
    }
    .bt-position{
        justify-content: center;
        padding-top: 50px;
    }
    .img-right{
        display: none;
    }
    .texto-botoes{
        padding-top: 130px;
        padding-bottom: 110px;
    }
    .title-apresentacao2{
        padding-left: 8%;
    }
}
@media screen and (max-width: 776px){
    .bt-baixo-position{
        margin-left: 28%;
    }
    .box-icon{
        margin-left: 31%;
    }
}

@media screen and (max-width: 684px) {
    .uni-bt{
        padding: 20px 20px;
    }
    .bt-baixo-position{
        margin-left: 24%;
    }
    .box-icon{
        margin-left: 28.5%;
    }
    .bt-position{
        
    }
}
@media screen and (max-width: 586px){
      .uni-bt{
        padding: 20px 10px;
    }  
    .bt-baixo-position{
        margin-left: 19%;
    }
    .title-apresentacao{
        font-size: 52px;
    }
}
@media screen and (max-width: 554px){
    
}
@media screen and (max-width: 540px){
    .bt-text{
        font-size: 18px;
    }
    .icons{
        margin-left: 0;
    }
}
@media screen and (max-width: 504px){
    .texto{
        padding-left: 5%;
    }
    .texto2{
        padding-left: 0;
    }
    .box-icon{
        margin-left: 24%;
    }
}
@media screen and (max-width: 460px){
    .bt-position{
        
    }
}
@media screen and (max-width: 440px){
    .sub-titulo2{
        margin: 0 0 0 0;
    }
}

@media screen and (max-width: 434px){
    .title-apresentacao2{
        padding-left: 3%;
    }
    .texto{
        padding-left: 3%;
    }
}
@media screen and (max-width: 410px){
    .bt-position{
        
    }
    .title-apresentacao2{
        font-size: 40px;
    }
    .bt-baixo-position{
        margin-left: 14%;
    }
}
@media screen and (max-width: 405px){
    .bt-position{
}
@media screen and (max-width: 397px){
    .sub-titulo{
        padding-left: 0;
    }
}

@media screen and (max-width: 388px){
    .uni-bt{
        padding: 20px 9px;
    }
    .bt-position{
    }
    .texto{
        padding-left: 1%;
    }
}